.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.page-not-found-text {
  font-family: Product Sans;
  font-weight: 900;
  font-size: 36px;
}

.page-not-found-description-text {
  font-family: Product Sans;
  font-weight: 900;
  font-size: 24px;
  margin-top: 2%;
}
