.profile-side-bar-top-container {
  background-color: #ffffff;
  margin-top: 20%;
  margin-bottom: 20%;
}

.profile-side-bar-name-text {
  height: 30px;
  font-family: Product Sans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #68019c;
  margin-top: 20px;
}

.profile-side-bar-renew-time {
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  border-radius: 4px;
  background-color: #e3e3e3;
  margin-top: 16px;
  text-align-last: center;
}

.profile-side-bar-renew-name {
  height: 15px;
  font-family: Product Sans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #464444;
  margin-left: 10px;
}

.profile-side-bar-backtest-deploy-info-container {
  height: 87px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fbfbfb;
  margin-top: 12px;
}

.profile-side-bar-center-bar {
  width: 3px;
  height: 37px;
  border-radius: 2px;
  background-color: #cbcbcb;
}

.profile-side-bar-backtest-deploy-count-container {
  width: 40%;
  font-family: Product Sans;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #051961;
}

.profile-side-bar-backtest-text {
  font-size: 16px;
  color: #464444;
}

.profile-side-bar-backtest-highlighted text {
  font-size: 18px;
  color: #464444;
}

.profile-side-bar-backtest-text {
  font-family: Product Sans;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.42;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.profile-side-bar-navigation-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer;
}

.profile-side-bar-navigation-list-first-item {
  box-shadow: 0 3px 9px 0 #707070;
}

.profile-side-bar-navigation-list-item-img-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.profile-side-bar-navigation-list-item-img {
  width: 18px;
  height: 18px;
}

.profile-side-bar-navigation-list-item-text {
  font-family: Product Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #464444;
  margin-left: 20px;
}

.profile-side-bar-navigation-list-right-arrow-img {
  margin-right: 8%;
}
