.company-values-root-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.company-values-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.company-values-spinner {
  display: flex;
  justify-content: center;
}

.company-values-no-values-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Product Sans;
  font-size: 24px;
  margin: 2%;
  font-weight: 900;
}

.company-values-create-button-container {
  display: flex;
  justify-content: flex-start;
}

.company-values-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 3%;
}

.company-values-card {
  height: auto;
  width: 70%;

  border: solid 0.5px #cbcbcb;
  border-radius: 5px;

  padding: 1%;

  margin-bottom: 2%;
}

.company-values-card-title-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-values-card-title {
  font-family: Product Sans;
  font-size: 18px;
  font-weight: bold;
}

.company-values-card-actions-container {
}

.company-values-card-actions {
}

.company-values-card-description {
  font-family: Product Sans;
  font-size: 16px;

  margin-top: 5px;
}
